<h1> Edit Match</h1>

<!-- It calls a post method and overrides it with the patch method for update-->
<form action="/all_matches_edit/ <%= @match.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
   
    Home: 
    <select name="home_team_id">
      <% @team = Team.all%>
      <% @team.each do |t| %>
        <option value="<%= t.id %>"> <%= t.name %> </option>
      <% end %>
    </select>

    Visitor: 
    <select name="visitor_team_id">
      <% @team.each do |t| %>
        <option value="<%= t.id %>"> <%= t.name %> </option>
      <% end %>
    </select>

    Date: <input type="datetime-local" name="date" value="<%= @match.date %>" />
    Stadium: <input type="text" name="stadium" value="<%= @match.stadium %>" />
    Match Type:
      <select name="match_type">
        <option value="GROUP">GROUP</option>
        <option value="OCTAVES">OCTAVES</option>
        <option value="QUARTERS">QUARTERS</option>
        <option value="SEMI">SEMI</option>
        <option value="FINAL">FINAL</option>
      </select>
  <input type="submit" value="Edit Match" />
  
</form>

<p><a href="/landingpage_admin">Back</a></p>
