<h1>Played Matches</h1>

<% @matches = Match.all%>


<% @matches.each do |m| %>
  <%if m.result != nil%>
    <p>Home: <%= m.home_team_id %> - Visitor: <%= m.visitor_team_id %> - Date: <%= m.date %> - Stadium: <%= m.stadium %> </p>
    <p>Home Goals: <%= m.result.home_goals %> - Visitor Goals: <%= m.result.visitor_goals %> </p>
  <% end %>
<% end %>



<h1>Matches To Play</h1>

<% @matches = Match.all%>


<% @matches.each do |m| %>
  <%if m.result == nil%>
    <p>Home: <%= m.home_team_id %> - Visitor: <%= m.visitor_team_id %> - Date: <%= m.date %> - Stadium: <%= m.stadium %> </p>
  <% end %>
<% end %>

<p><a href="/landingpage">Back</a></p>