<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProdemosAr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <style>
        body {
          background-image: url("../image/Background.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-attachment: fixed;
        }
    </style>

</head>
<body>
    

    <header>
        
        <div class="container-fluid">
            <div class="d-flex">

                <p class="m-4"><a href="/player/landingpage" class="text-center fs-1 " style="font-family: Days One, sans-serif; color: white; text-decoration: none;">ProdemosAr</a></p>
                
            </div>

            <%@player = Player.find_by_id(session[:player_id])%>
            <div class="d-flex m-4 position-absolute top-0 end-0">

                
                <i class="bi bi-person-circle fs-3 mt-2 me-2 " style="color:white ;"></i> <p class=" me-4 fs-2 " style="color:white ;"><%=@player.username%> </p>
                <p class=""><a class="btn btn-outline-primary btn-outline-light me-2 mt-2" href="/logout">Logout</a></p>
            
            </div>
            
        </div>
        
    </header>

    <div class="btn-group-vertical mt-4 position-absolute top-50 start-0 translate-middle-y">

      <div class="container-md w-75 ">
        <div class="d-grid gap-5">
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/forecast/new">Create new forecast</a>
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/forecasts">See all your forecasts and points</a>
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/matches">See the played matches or the matches to play</a>
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/groups&teams">See the groups phase table</a>
          
        </div>   
      </div>

    </div>

    <div class="position-absolute top-50 start-50 translate-middle ms-4">

        
        <h1 class="display-3 text-center" style="font-family: Days One, sans-serif; color: white;">Forecasts</h1>

        <%@player = Player.find_by_id(session[:player_id])%>

        <h2 class="pt-1 text-center" style="color:white ;"> Your Points: <%=@player.points%> </h2>

        <h3 class="pt-4 pb-2 ms-3" style="color:white ;"> Forecasts played matches </h3>

        <p class="ms-4"><strong>

            <% @player.forecasts.each do |f| %>
            <% m = Match.find_by_id(f.match_id) %>
            <% if m.result != nil then%>
            <!--VER DE BORRAR ESTO -->
            <% home = Team.find_by_id(m.home_team_id) %>
            <% visitor = Team.find_by_id(m.visitor_team_id) %>
            Match: <%= home.name %> <%= m.result.home_goals %> vs <%= m.result.visitor_goals %> <%= visitor.name %> - Date: <%= m.date %>
            Forecast: <%= home.name %> <%= f.home_goals %> vs <%= f.visitor_goals %> <%= visitor.name %> </p>
            <% end %>
            <% end %>

        </strong></p>

         <!--Now we have a view for the forecasts of the matches to play and also for the played matches.-->
        <h3 class="pt-4 pb-1 ms-3" style="color:white;" > Forecasts of matches to play </h3>

            <% @player.forecasts.each do |f| %> 
            <% m = Match.find_by_id(f.match_id) %>
            <% if m.result == nil then%>
            <% home = Team.find_by_id(m.home_team_id) %>
            <% visitor = Team.find_by_id(m.visitor_team_id) %>

         <!--For each forecast, we show the predicted goals corresponding to the teams, and we can Edit the forecast -->
        <!--
         This is a button to delete the forecast
         It calls a post method, but overrides it with delete
        -->
         <form action="/player/forecast_delete/ <%= f.id %>" method="post">

            <p class="d-flex ms-4"><strong>    
                <%= home.name %> <%= f.home_goals %> vs <%= f.visitor_goals %> <%= visitor.name %> - Date: <%= m.date %> <a href="/player/forecast/<%= f.id%>/edit" class="ms-2 btn btn-light me-2"> Edit Forecast</a>  
            
                
                <input type="hidden" name="_method" value="delete" class="btn btn-light ">
                <input type="submit" value="Delete Forecast" class="btn btn-light"/>
            </strong></p>

            
        </form>
        </p>
        <% end %>
        <% end %>


    </div>



</body>
</html>

<!--

    <a class="btn btn-success m-3" href="/player/landingpage">Back</a>

        
    <div class="p-4">

        <h1 class="display-2" style="font-family: Days One, sans-serif; color: white;">Forecasts</h1>

        <%@player = Player.find_by_id(session[:player_id])%>

        <h2 class="pt-1" style="color:white ;"> Your Points: <%=@player.points%> </h2>

        <h3 class="pt-4 pb-2" style="color:white ;"> Forecasts played matches </h3>

        <p><strong>

            <% @player.forecasts.each do |f| %>
            <% m = Match.find_by_id(f.match_id) %>
            <% if m.result != nil then%>
            VER DE BORRAR ESTO
            <% home = Team.find_by_id(m.home_team_id) %>
            <% visitor = Team.find_by_id(m.visitor_team_id) %>
            Match: <%= home.name %> <%= m.result.home_goals %> vs <%= m.result.visitor_goals %> <%= visitor.name %> - Date: <%= m.date %>
            Forecast: <%= home.name %> <%= f.home_goals %> vs <%= f.visitor_goals %> <%= visitor.name %> </p>
            <% end %>
            <% end %>

        </strong></p>

         Now we have a view for the forecasts of the matches to play and also for the played matches.
        <h3 class="pt-4 pb-1" style="color:white;" > Forecasts of matches to play </h3>

            <% @player.forecasts.each do |f| %> 
            <% m = Match.find_by_id(f.match_id) %>
            <% if m.result == nil then%>
            <% home = Team.find_by_id(m.home_team_id) %>
            <% visitor = Team.find_by_id(m.visitor_team_id) %>

         For each forecast, we show the predicted goals corresponding to the teams, and we can Edit the forecast
        
         This is a button to delete the forecast
         It calls a post method, but overrides it with delete
        <form action="/player/forecast_delete/ <%= f.id %>" method="post">

            <p><strong>    
                <%= home.name %> <%= f.home_goals %> vs <%= f.visitor_goals %> <%= visitor.name %> - Date: <%= m.date %> <a href="/player/forecast/<%= f.id%>/edit" class="ms-2 btn btn-light me-2"> Edit Forecast</a>  
            
                <input type="hidden" name="_method" value="delete" class="btn btn-light ">
                <input type="submit" value="Delete Forecast" class="btn btn-light" />
            </strong></p>

            
        </form>
        </p>
        <% end %>
        <% end %>

        <p><a class="btn btn-light" href="/player/forecast/new">Create a Forecast</a></p>
        <p><a class="btn btn-success mt-4" href="/player/landingpage">Back</a></p>

    </div>

-->

