<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProdemosAr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <style>
        body {
          background-image: url("/image/Background.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-attachment: fixed;
        }

    </style>

</head>
<body>

  <header>
        
    <div class="container-fluid">
        <div class="d-flex">

            <p class="m-4"><a href="/player/landingpage" class="text-center fs-1 " style="font-family: Days One, sans-serif; color: white; text-decoration: none;">ProdemosAr</a></p>
            
        </div>

        <%@player = Player.find_by_id(session[:player_id])%>
        <div class="d-flex m-4 position-absolute top-0 end-0">

            
          <a class="w-auto mt-2" style="color:black ;" href="/player/search/<%=@player.username%>"><i class="bi bi-person-circle fs-3 mt-2 me-2 " style="color:white ;"></i></a> <p class=" me-4 fs-2 " style="color:white ;"><%=@player.username%></p>          
          <p class=""><a class="btn btn-outline-primary btn-outline-light me-2 mt-2" href="/player/search">Search Players</a></p>
          <p class=""><a class="btn btn-outline-primary btn-outline-light me-2 mt-2" href="/logout">Logout</a></p>
        
        </div>
        
    </div>
    
  </header>
  
  <main class="container-fluid mt-4">

    <div class="row align-items-center">

      <div class="col-3 mt-5">
        
        <div class="w-75 d-flex d-sm-inline-flex flex-column gap-5 mb-3 ms-2">
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/forecast/new">Create new forecast</a>
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/forecasts">See all your forecasts and points</a>
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/matches">See the played matches or the matches to play</a>
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/groups&teams">See the groups phase table</a>
          <a class="btn btn-outline-primary btn-outline-light me-1" href="/player/players">See the players ranking</a>
        </div>

      </div>

      <div class="col-1"></div>

      <div class="col-5">

        <h1 class="fs-1 mb-4 text-center" style="color:white ;">Create Forecast</h1>

        <form action="/player/forecast/new" method="post">      
          <div class="row">
            <div class="col">
              <input type="number" name="home_goals" class="form-control" placeholder="Home goals" aria-label="home_goals">
            </div>
            <div class="col">
              <input type="number" name="visitor_goals" class="form-control" placeholder="Visitor goals" aria-label="visitor_goals">
            </div>
          </div>
        
          <p class="fs-3 mt-5 text-center" style="color:white ;">Match</p>
                            
          <select name="match_id" class="form-select" aria-label="Default select example">
            <% @matches = Match.all%>
            <% @matches.each do |m| %>
              <%if m.result == nil%>
                <option value="<%= m.id %>"> <%= m.home_team.name %> vs <%= m.visitor_team.name %></option>
              <% end %>
            <% end %>
          </select>
        
          <button type="submit" value="Create Forecast" class="btn btn-light mt-4">Create Forecast</button>

        </form>


      </div>

      <div class="col"></div>

    </div>
  </main>

</body>
</html>