<h1> Delete Forecast </h1>

<% @player = Player.find_by_id(session[:player_id]) %>
<% @forecasts = @player.forecasts%>
  <form>
    <select name="forecast_id">
      <% @forecasts.each do |f| %>
        <% match = Match.find_by_id(f.match_id)%>
        <% home = Team.find_by_id(match.home_team_id)%>
        <% visitor = Team.find_by_id(match.visitor_team_id)%>
        <option value="<%= f.id %>"> <%= home.name %> <%= f.home_goals %> - <%= f.visitor_goals %> <%= visitor.name %> </option>
      <% end %>
    </select>
    <input type="submit" value="Delete Forecast" />

<p><a href="/landingpage">Back</a></p>